<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="signUpPage"> <!-- 화면 중앙에 위치하기 위한 div 추가 -->
        <form class="signUpForm" action="/join" method="post">
            <h2>회원가입</h2>
            <input class="signUpNickname" type="text" name="nickname" placeholder="아이디" required>
            <input class="signUpEmail" type="email" name="email" placeholder="이메일" required>
            <input class="signUpPassword" type="password" name="password" placeholder="비밀번호" required>
            <input class="signUpPasswordCheck" type="password" name="passwordCheck" placeholder="비밀번호 확인" required>
            <input class="signUpSubmit" type="submit" value="회원가입">
        </form> 
    </div> <!-- 중앙 정렬을 위한 div 종료 -->
</body>
</html>