<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="signUpPage" id="signUpPage"> <!-- 회원가입 폼 -->
        <!-- <form class="signUpForm" action="/join" method="post"> -->
            <form class="signUpForm">
            <h2>회원가입</h2>
            <input class="signUpNickname" type="text" name="nickname" placeholder="닉네임" required>
            <input class="signUpEmail" type="email" name="email" placeholder="이메일" required>
            <input class="signUpPassword" type="password" name="password" placeholder="비밀번호" required>
            <input class="signUpPasswordCheck" type="password" name="passwordCheck" placeholder="비밀번호 확인" required>
            <input class="signUpSubmit" type="submit" onclick="openLoginPop()" value="회원가입">
        </form>
    </div> 
    <script>
        function openLoginPop() {
            // Ajax 호출을 통해 joinPage를 가져옴
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var popupContent = xhr.responseText;
                        console.log("popupContent : "+popupContent);
                        replaceContent(popupContent);
                    } else {
                        console.error("Failed to load joinPage:", xhr.status);
                        // 에러 처리
                    }
                }
            };
            xhr.open("POST", "/join", true);
            let email = document.getElementsByName("email").value;
            let nickname = document.getElementsByName("nickname").value;
            let password = document.getElementsByName("password").value;

            xhr.send(JSON.stringify({"email":email,"nickname":nickname,"password":password}));
        }
    
        function replaceContent(content) {
            document.open();
            document.write(content);
            document.close();
        }
    </script>
</body>
</html>