<!-- loginModal.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 여기에 필요한 스타일시트 및 스크립트 파일 로드 -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <!-- 모달을 열기 위한 스크립트 파일 -->
</head>
<body>
    <!-- 로그인 모달 내용 -->
    <div id="loginModal" class="modal">
        <div class="loginPage"> <!-- 화면 중앙에 위치하기 위한 div 추가 -->
            <form class="loginForm" action="/login" method="post">
                <h2>로그인</h2> <!-- Security 처리를 위해 name은 username, password 고정 -->
                <input class="loginText" type="text" name="username" placeholder="아이디" required>
                <input class="loginPassword" type="password" name="password" placeholder="비밀번호" required>
                <input class="loginSubmit" type="submit" value="로그인">
                <button class="signup-button" onclick="signUp()">회원가입</button>
                <div class="social-login">
                    <img src="../../static/img/smile.png" onclick="kakaoLogin()">
                    <img src="../../static/img/smile.png" onclick="naverLogin()">
                    <img src="../../static/img/smile.png" onclick="googleLogin()">
                </div>
            </form>
        </div>
    </div>

    
    <!-- 기타 내용 -->
</body>
</html>
